.header {
    height: 300px;
    display: flex;
    background-color: #5B5656;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 60%;
    width: auto;
    transform: scale(1.5);
    z-index: 0;
}


/* .logo_outline {
    position: relative;
    max-width: 80%;
    height: auto;
} */